@model TesteDevDbm.Models.StatusProtocolo
@{
    ViewData["Title"] = "Cadastrar novo status";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Cadastrar Novo Protocolo</h2>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Criar">
                        <div class="form-group mb-3">
                            <label asp-for="NomeStatus" class="control-label fw-bold">Nome</label>
                            <input asp-for="NomeStatus" class="form-control" />
                            <span asp-validation-for="NomeStatus" class="text-danger"></span>
                        </div>
                        <br>
                        <div class="text-center d-flex justify-content-between align-items-center mt-4">
                            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                            <button type="submit" value="Criar" class="btn btn-primary">Criar Protocolo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<hr />
<br>