@model IEnumerable<TesteDevDbm.Models.StatusProtocolo>
@{
    ViewData["Title"] = "Listagem de status de protocolo";
}

<div class="container my-5">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Status</h2>
            <div class="d-flex justify-content-end mb-3">
                <a asp-action="Criar" class="btn btn-primary">+ Novo Status</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col" class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.IdStatus)</td>
                                <td>@Html.DisplayFor(model => item.NomeStatus)</td>
                                <td class="text-center">
                                    <a asp-action="Editar" asp-route-id="@item.IdStatus"
                                        class="btn btn-sm btn-warning me-1">Editar</a> |
                                    <a asp-action="Deletar" asp-route-id="@item.IdStatus"
                                        class="btn btn-sm btn-danger">Deletar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
