@model TesteDevDbm.Models.Protocolo

@{
    ViewData["Title"] = "Cadastrar novo protocolo";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Cadastrar Novo Protocolo</h2>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Criar">

                        <div class="form-group mb-3">
                            <label asp-for="Titulo" class="control-label fw-bold">Título</label>
                            <textarea asp-for="Titulo" class="form-control"
                                placeholder="Informe o título do protocolo"></textarea>
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ClienteId" class="control-label fw-bold">Cliente</label>
                            <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.Clientes">
                                <option value="">Selecione um cliente</option>
                            </select>
                            <span asp-validation-for="ClienteId" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Descricao" class="control-label fw-bold">Descrição</label>
                            <textarea asp-for="Descricao" class="form-control" rows="4"
                                placeholder="Descreva o protocolo detalhadamente"></textarea>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ProtocoloStatusId" class="control-label fw-bold">Status</label>
                            <select asp-for="ProtocoloStatusId" class="form-control" asp-items="ViewBag.Status">
                                <option value="">Selecione um status</option>
                            </select>
                            <span asp-validation-for="ProtocoloStatusId" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="DataAbertura" class="control-label fw-bold">Data de Abertura</label>
                            <input asp-for="DataAbertura" type="date" class="form-control" />
                            <span asp-validation-for="DataAbertura" class="text-danger"></span>
                        </div>

                        <div class="text-center d-flex justify-content-between align-items-center mt-4">
                            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                            <button type="submit" class="btn btn-primary">Criar Protocolo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}